<h1>Exercise Log</h1>

<h2>Viewing Journal Entry on date: {{this.date}}</h2>


<p>Show all the exercises</p>
<p>Exercise list:</p>
<ul>
	{{#each exercises}}
		<li>{{this.name}} x {{this.quantity}} at intensity {{this.intensity}}</li>
	{{/each}}
</ul>

	
<form method="POST" action="/journals/modEntry">
	<textarea name="comments" rows="10" cols="60">Insert comments about said exercises</textarea>
 	<br><br>
 	<input type="submit">
</form>