<h1>Exercise Log</h1>

<h2>Viewing Journal Entry on date: {{this.date}}</h2>


<p>Show all the exercises</p>



<p>Insert comments about said exercises</p>


<p>--------------------</p>
<i><a href="/">Main Page</a> | <a href="/journals">Journals</a></i>