<h1>Exercise Log</h1>

<h2>Main Page</h2>
<a href="/login">Log in</a> || <a href ="/userCreate">Create a new account</a>
<p>--------------------</p>

<!--Will eventually replace the text links with images that link, with some visual effects or something fancy like that-->
<h3><a href="/exercises">Exercises</a></h3>

<h3><a href="/journals">Journals</a></h3>