<h1 >Exercise Log</h1>

<h2>User Log-In: </h2>


<form method="POST" action="">
	<div>Username: <input username = "username" type="text"></div>
	<div>Password: <input password = "password" type="text"></div>
	<div><input value="Log in" type="submit"></div>
</form>



<p>--------------------</p>
<i><a href="/">Main Page</a> | <a href="/exercises">Exercises</a></i> | <a href="/journals">Journals</a></i>